{{ define "main" }}
<div class="homepage">
    <div class="container">
        <div class="wrapper">
          <h1 class="title">BLACK AND WHITE PHOTOGRAPHY</h1>
          <hr class="page-hr">
          <p><span class="subtitle">BY TIM NAULT</span></p>


        <a class="button" href="/portfolios/">Portfolios</a>
        <a class="button" href="/behind-the-lens/">Behind the Lens</a>
    </div>
</div>
</div>
<div class="content">
    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
    {{.Content}}

    <!-- Note that .Pages is the same as .Site.RegularPages on the homepage template. 
    {{ range first 10 .Pages }}
        {{ .Render "summary"}}
    {{ end }}-->
  </div>

  <div class="title">
      <h2 class="section-title">PORTFOLIOS</h2>  
      <hr class="page-hr">
      <p style="text-align: center;">Black and White Fine Art Photography with compositions containing architectural elements, abstracts of objects or places, and urban scenes.</p>
  </div>

  <div id="main">
      <article class="thumb">
          <a href="/portfolio/intime/" class="link"><img src="/images/thumbs/In_Time/Convergence.jpg" alt="In Time" /></a>
          <h2>In Time</h2>
          <p>Its In Time"</p>
        </article>
        <article class="thumb">
          <a href="/portfolio/oncewas/" class="link"><img src="/images/thumbs/Once_Was/WindowToThePast.jpg" alt="Once Was" /></a>
          <h2>OnceWas</h2>
          <p>It Once Was"</p>
        </article>
        <article class="thumb">
          <a href="/portfolio/the_art_institute/" class="link"><img src="/images/thumbs/The_Art_Institute/Art_Institute_Chicago_1.jpg" alt="The Art Institute" /></a>
          <h2>The Art Institute</h2>
          <p>Its the The Art Institute"</p>
        </article>
        <article class="thumb">
          <a href="/portfolio/egyptian_building/" class="link"><img src="/images/thumbs/Egyptian_Building/EgyptianBuilding-100.jpg" alt="Egyptian Building" /></a>
          <h2>Egyptian Building</h2>
          <p>Its the Egyptian Building"</p>
        </article>
  </div>
    {{ end }}