{{ define "main" }}
<h2><a href="{{ .Site.BaseURL }}"><strong>Home</strong></a>
{{ range $index, $element := split $url "/" }}
{{ $.Scratch.Add "path" $element }}
{{ if ne $element "" }}
/ {{ . | humanize }}
{{ $.Scratch.Add "path" "/" }}
{{ end }}
{{ end }}
</h2>
    <div id="main">
       {{ range (where .Site.Pages "Section" "portfolio").ByDate.Reverse }}
            <article class="thumb">
                <a href="{{ .Permalink }}" class="link"><img src="{{ .Params.albumthumb }}" alt="{{ .Title }}" /></a>
                <h2>{{ .Title }}</h2>
            </article>
        {{ end }}
    </div>
{{ end }}
