{{ "<!-- Menu -->" | safeHTML }}
    <menu id="menu" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2><a href="/portfolios/">Portfolios</a></h2>
                    <ul>
                        <li class="menu"><a href="/portfolios/intime/">In Time</a></li>
                        <li class="menu"><a href="/portfolios/the_art_institute/">The Art Institue</a></li>
                        <li class="menu"><a href="/portfolios/oncewas/">Once Was</a></li>
                        <li class="menu"><a href="/portfolios/theegyptianbuilding/">The Egyptian Building</a></li>
                        <li class="menu"><a href="/portfolios/desertification/">Desertification</a></li>
                        <li class="menu"><a href="/portfolios/yin_and_yang/">Yin and Yang</a></li>
                        <li class="menu"><a href="/portfolios/inspire/">Inspire</a></li>
                        <li class="menu"><a href="/portfolios/architecture/">Architecture</a></li>  
                    </ul>
                </section>
            </div>
            <div>
                <section>
                    <h2><a href="/post/">Behind the Lens</a></h2>
                    <h2>Purchase</h2>
                    <h2><a href="/about/">About</a></h2>
                    <h2><a href="/contact/">Contact</a></h2>
                </section>
             </div>
        </div>
    </menu>
